body {
    font-family: "Roboto", sans-serif;
}

/* Utilities */

.my-small-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.my-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border: 1px solid white;
    border-radius: 5px;
}

.bg-dark-blue {
    background-color: #165bba;
}

/* Stile Generale */

header {
    width: 100%;
    height: 80px;
}

header nav {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

aside {
    width: 80px;
    height: calc(100vh - 80px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: scroll;
    font-size: .85rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Stile Tabella */

table,
table th {
    font-size: .8rem;
    font-weight: normal;
}

table button {
    width: 2rem;
    aspect-ratio: 1/1;
}

table img {
    width: 2rem;
}

table tbody tr:last-child {
    border-color: transparent ;
}

/* /* /* /* /* /* /* /* /* /* /* /* 
/* Media Queries */

@media (min-width: 992px) {

    aside {
        width: 140px;
    }
 }
