body {
    font-family: "Roboto", sans-serif;
}

/* Utilities */

.my-small-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
}

.bg-dark-blue {
    background-color: #165bba;
}

.bg-gray {
    background-color: #e0e0e0 !important;
}

/* Stile Generale */

header {
    width: 100%;
    height: 80px;
}

header nav {
    width: 100%;
    height: 100%;
    font-size: 1rem;
}

header input.form-control {
    width: 260px;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    background: transparent url("/img/search.svg") no-repeat 13px;
}

aside {
    width: 80px;
    height: calc(100vh - 80px);
    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

main {
    height: calc(100vh - 80px);
    width: 100%;
    overflow-y: scroll;
    font-size: .85rem;
}

ul {
    list-style-type: none;
    padding: 0;
}


/* Stile Tabella */

table,
table th {
    font-size: .8rem;
    font-weight: normal;
}

table button {
    width: 2rem;
    aspect-ratio: 1/1;
}

table img {
    width: 2rem;
}

table tbody tr:last-child {
    border-color: transparent ;
}

/* Effects */

aside li:hover,
aside div:hover{
    background-color: #929292;
    cursor: pointer;
}

.accordion-header button:active {
    color: #0d6efd;
}

/* /* /* /* /* /* /* /* /* /* /* /* 
/* Media Queries */

@media (min-width: 992px) {

    aside {
        width: 140px;
    }

    div.offcanvas {
        width: 50% !important;
    }
 }
